/* alimentacao.css */

:root{
    --fundo:url(bg-mobile.jpg)
}
body {
    background: var(--fundo) no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    overflow-x: hidden;
}


body * {
    font-family: 'Inter', sans-serif;
    color:aliceblue;
}

#container {
    width: 100%;
    max-width: 800px;
    margin: 56px auto 0;
    padding: 0 24px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    color: rgb(123, 25, 214);
}

.back-button {
    text-decoration: none;
    font-weight: 500;
    padding: 10px 20px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 8px;
    color: var(--text-color);
    transition: background 0.2s;
}

.back-button:hover {
    background: var(--surface-color-hover);
}

#meal-plan {
    margin-top: 20px;
}

.day {
    margin-bottom: 20px;
}

.day h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: rgb(146, 21, 136);
}

.day ul {
    list-style: none;
    padding-left: 20px;
}

.day ul li {
    margin-bottom: 5px;
    line-height: 1.5;
}

@media (max-width: 700px) {
    header {
        flex-direction: column;
    }

    .title {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .back-button {
        position: fixed;
        bottom: 16px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 8px;
        color: var(--text-color);
        background: var(--surface-color);
        border: 1px solid var(--stroke-color);
        transition: background 0.2s;
    }

    #meal-plan {
        margin-top: 20px;
    }

    .day h2 {
        font-size: 1.25rem;
    }

    .day ul {
        padding-left: 10px;
    }
}
